name: Buld and deploy data catalog

on:
  workflow_dispatch:
  push:
    branches: ["master"]
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      # installation works but uses https auth for now
      # TO DO: propose change from fork to upstream and install from pypi
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/sergegoussev/datacontract-cli.git
          
      # change directory first and then output to a site folder
      - name: create catalog
        run: |
          cd datasets/
          datacontract catalog --output ../_site/

      # optional step for debugging
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
        
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3
        with:
          target: gh-pages

      # ISSUE: this is uploading to blob storage, not gh-pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site
          target: gh-pages

  # Deployment job
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
